[Unit]
Description=Tailscale
After=tailscaled.service

[Service]
Type=simple
Restart=Always
RestartSec=1
User=root
ExecStart=/usr/bin/tailscale up --ssh --advertise-exit-node

[Install]
WantedBy=multi-user.target 
